{% extends 'base-home.html' %}
{% load static %}

{% block body %}
    <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="in-slideshow uk-visible-toggle" data-uk-slideshow="">
                <ul class="uk-slideshow-items">
                    <li>
                        <div class="uk-container">
                            <div class="uk-grid" data-uk-grid="">
                                <div class="uk-width-1-2@m">
                                    <div class="uk-overlay">
                                        <h1>Multi-award <span class="in-highlight">winning</span> stock futures index traders.</h1>
                                        <p class="uk-text-lead uk-visible@m">We have been proud to offer traders a powerful and advanced trading platform technologies</p>
                                        <div class="in-slideshow-button">
                                            <a href="#open-acc" class="uk-button uk-button-primary uk-border-rounded">Open account</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-position-center">
                                    <img class="uk-animation-slide-top-small" src="{% static 'img/in-lazy.svg' %}" data-src="{% static 'img/in-slideshow-image-4.png' %}" alt="slideshow-image" width="862" height="540" data-uk-img="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous="" data-uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next="" data-uk-slideshow-item="next"></a>
            </div>
        </div>
        <!-- slideshow content end -->
        <br><br>
        <!-- section content begin -->
        <div class="uk-section uk-padding-large in-padding-large-vertical@s in-profit-13">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center" data-uk-grid="">
                    <div class="uk-width-5-6@m uk-text-center in-margin-top-20@s">
                        <p class="uk-text-lead uk-margin-remove-bottom">Learn how to make $100 - $1,000 on a daily basis and</p>
                        <h2 class="uk-margin-small-top">Earn 15% - 20% Monthly</h2>
                        <p>
                            I went to London for a financial seminar and the host Marcus De Maria gave us his book titled: ‘THE LUNCH TIME TRADER’. It gets interesting from the first chapter of the book, posing questions like ‘Why is that some people manage to achieve wealth while others are never able to even rub two pennies together? ‘Why are these results so vastly different? He also goes on to suggest that the fast response to that is ‘the actions we take, for the actions we take contribute to the outcomes we achieve.’
                        </p>
                        <p>
                            So, then the question is what motivates our actions? Our thoughts and feelings surrounding those thoughts are the key, and precisely the emotions these thoughts send us, drive us to action or inaction. Our financial success or failure is not the fault of our parents, the government, the economy, or the stock market but our thoughts, beliefs, and attitude. When we actually see that the reasons for our financial outcomes are our thoughts, beliefs and attitude, positive or negative, we stop criticizing everyone and everything around us, then we can start to improve our finances.
                        </p>
                        <p>
                            Why am I telling you this? It’s because if we do not start at changing the way we think and the actions we take, our yesterday will always remain the same as our today, our tomorrow and our future. That is why <b>LIFEFLEX</b> will train you and as you learn, your capital is growing for you, getting you set to start making your own money. We are all about improving the lives of individuals.
                        </p>
                        <p>
                            We have different packages: Bronze, Silver, Gold and Platinum. For  each membership, you get an interest rate of 15% monthly, when you introduce two people, your percentage becomes 20% monthly, and even if you don’t introduce anyone, you will still receive your monthly 15% and after six months, you can withdraw your initial capital or renew if you want to.
While we educate and train you on how to make $100 - $1,000 consistently on a daily basis, our goal is to make you build up your capital to start making money on your own.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->

        <!-- section content begin -->
        <div class="uk-section uk-padding-large in-padding-large-vertical@s in-profit-13">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center" data-uk-grid="">
                    <div class="uk-width-5-6@m uk-text-center in-margin-top-20@s">
                        <h2 class="uk-margin-small-top">Membership Packages</h2>
                    </div>
                </div>
                <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-margin-medium-top uk-margin-bottom" data-uk-grid="">
                    <div>
                        <div class="in-pricing-1">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    <h3 class="uk-margin-remove-bottom">Bronze account</h3>
                                    <p class="uk-text-muted uk-margin-remove-top">Receive even tighter spreads and commissions</p>
                                </div>
                                <div class="uk-card-body uk-background-contain uk-background-bottom-right" data-src="{% static 'img/in-section-profit-13b.png' %}" data-uk-img="">
                                    <ul class="uk-list uk-list-bullet uk-margin-bottom">
                                        <li>$250 (N112,500 @ 450)</li>
                                    </ul>
                                    <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top">Open an account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="in-pricing-1">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    <h3 class="uk-margin-remove-bottom">Sliver account</h3>
                                    <p class="uk-text-muted uk-margin-remove-top">Receive even tighter spreads and commissions</p>
                                </div>
                                <div class="uk-card-body uk-background-contain uk-background-bottom-right" data-src="{% static 'img/in-section-profit-13b.png' %}" data-uk-img="">
                                    <ul class="uk-list uk-list-bullet uk-margin-bottom">
                                        <li>$500 (N225,000 @ 450)</li>
                                    </ul>
                                    <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top">Open an account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="in-pricing-1">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    <h3 class="uk-margin-remove-bottom">Gold account</h3>
                                    <p class="uk-text-muted uk-margin-remove-top">Receive even tighter spreads and commissions</p>
                                </div>
                                <div class="uk-card-body uk-background-contain uk-background-bottom-right" data-src="{% static 'img/in-section-profit-13b.png' %}" data-uk-img="">
                                    <ul class="uk-list uk-list-bullet uk-margin-bottom">
                                        <li>$1,000 (N450,000 @ 450)</li>
                                    </ul>
                                    <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top">Open an account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="in-pricing-1">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    <h3 class="uk-margin-remove-bottom">Platinum account</h3>
                                    <p class="uk-text-muted uk-margin-remove-top">Receive even tighter spreads and commissions</p>
                                </div>
                                <div class="uk-card-body uk-background-contain uk-background-bottom-right" data-src="{% static 'img/in-section-profit-13b.png' %}" data-uk-img="">
                                    <ul class="uk-list uk-list-bullet uk-margin-bottom">
                                        <li>$2,000 - $5,000 <br>(N900,000 - N2,250,000 @ 450)</li>
                                    </ul>
                                    <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top">Open an account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->

        <!-- section content begin -->
        <div class="uk-section uk-section-muted uk-padding-large in-padding-large-vertical@s in-profit-15">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center" data-uk-grid="">
                    <div class="uk-width-1-1 uk-width-5-6@m">
                        <p class="uk-text-lead uk-margin-remove-bottom uk-text-center in-offset-top-10">Start trading with Profit Inc.</p>
                        <h2 class="uk-margin-small-top uk-text-center">Fast account opening in 3 simple steps</h2>
                        <div class="uk-grid-large uk-child-width-1-3@m uk-text-center uk-margin-medium-top" data-uk-grid="">
                            <div>
                                <span class="in-icon-wrap circle large">1</span>
                                <h4 class="uk-margin-top">Register</h4>
                                <p>Choose an account type and submit your application</p>
                            </div>
                            <div>
                                <span class="in-icon-wrap circle large">2</span>
                                <h4 class="uk-margin-top">Fund</h4>
                                <p>Fund your account using a wide range of funding methods.</p>
                            </div>
                            <div>
                                <span class="in-icon-wrap circle large">3</span>
                                <h4 class="uk-margin-top">Learn & Earn</h4>
                                <p>Access all instruments across all asset classes on App</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section uk-padding-large in-padding-large-vertical@s in-profit-16" id="open-acc">
            <div class="uk-container uk-margin-small-bottom">
                <div class="uk-grid-divider" data-uk-grid="">
                    <div class="uk-width-auto@m">
                        <h4 class="uk-margin-remove-bottom uk-margin-right">Funding &amp; withdrawals</h4>
                        <p class="uk-text-muted uk-margin-remove-top">No deposit fee*</p>
                    </div>
                    <div class="uk-width-expand@m">
                        <div class="uk-grid-medium uk-child-width-1-2 uk-child-width-1-5@m uk-text-center in-client-logo-3" data-uk-grid="">
                            <div class="uk-tile uk-tile-default">
                                <img src="{% static 'img/in-lazy.svg' %}" data-src="{% static 'img/bitcoin.svg' %}" alt="payment-logo" width="47" data-uk-img="">
                            </div>
                            <div class="uk-tile uk-tile-default">
                                <img src="{% static 'img/in-lazy.svg' %}" data-src="{% static 'img/in-profit-payment-1.svg' %}" alt="payment-logo" width="172" height="57" data-uk-img="">
                            </div>
                            <div class="uk-tile uk-tile-default">
                                <img src="{% static 'img/in-lazy.svg' %}" data-src="{% static 'img/in-profit-payment-2.svg' %}" alt="payment-logo" width="172" height="57" data-uk-img="">
                            </div>
                            <div class="uk-tile uk-tile-default">
                                <img src="{% static 'img/in-lazy.svg' %}" data-src="{% static 'img/in-profit-payment-3.svg' %}" alt="payment-logo" width="172" height="57" data-uk-img="">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-flex uk-flex-center" data-uk-grid="">
                    <div class="uk-width-3-4@m">
                        <div class="in-create-account uk-text-center uk-margin-top">
                            <span class="uk-label uk-text-small uk-text-uppercase uk-border-rounded uk-margin-small-bottom">Open your account</span>
                            <p class="uk-text-lead uk-margin-remove-top uk-visible@m">Connect with many investors in the world’s leading investment network</p>
                            <form class="uk-grid-small" data-uk-grid="">
                                <div class="uk-width-1-1 uk-width-1-4@m">
                                    <input class="uk-input uk-border-rounded" type="text" placeholder="Full name">
                                </div>
                                <div class="uk-width-1-1 uk-width-1-4@m">
                                    <input class="uk-input uk-border-rounded" type="text" placeholder="Email address">
                                </div>
                                <div class="uk-width-1-1 uk-width-1-4@m">
                                    <input class="uk-input uk-border-rounded" type="text" placeholder="Phone number">
                                </div>
                                <div class="uk-width-1-1 uk-width-1-4@m">
                                    <select name="" id=""  class="uk-input uk-border-rounded">
                                        <option value="">Account type</option>
                                        <option value="">Bronze account</option>
                                        <option value="">Silver account</option>
                                        <option value="">Gold account</option>
                                        <option value="">Platinum account</option>
                                    </select>
                                </div>
                                <div class="uk-width-1-1 uk-width-1-12@m">
                                    <button class="uk-button uk-button-primary uk-border-rounded uk-width-expand">Create Account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section uk-padding-large uk-background-contain in-padding-large-vertical@s in-offset-bottom-80 in-profit-17" data-src="{% static 'img/in-profit-decor-3.svg' %}" data-uk-img="">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center" data-uk-grid="">
                    <div class="uk-width-5-6@m">
                        <div class="uk-grid uk-child-width-1-2@m uk-flex" data-uk-grid="">
                            <div class="in-offset-bottom-30 uk-flex-last uk-flex-first@m">
                                <img src="{% static 'img/in-lazy.svg' %}" data-src="{% static 'img/in-profit-mockup-3.png' %}" alt="profit-mockup" width="472" height="348" data-uk-img="">
                            </div>
                            <div>
                                <h2>Platform by traders,<br>for traders</h2>
                                <p class="uk-text-lead">Seize your opportunity, with technology built designed to ensure that your deal goes through.</p>
                                <div class="uk-margin-medium-top">
                                    <a href="#" class="uk-button in-button-app">
                                        <i class="fab fa-google-play fa-2x"></i>
                                        <span class="wrapper">Download from<span>Play Store</span></span>
                                    </a>
                                    <a href="#" class="uk-button in-button-app uk-margin-small-left">
                                        <i class="fab fa-apple fa-2x"></i>
                                        <span class="wrapper">Download from<span>App Store</span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
{% endblock %}