{% extends 'base-dashboard.html' %}
{% load static %}
{% block body %}
    <div class="panel-content">
        <div class="main-title-sec">
            <div class="row">
                <div class="col-md-8 column">
                    <div class="heading-profile">
                        <h2>All Customers & Users</h2>
                </div>
            </div>
        </div>
        <!-- Heading Sec -->
        <div class="main-content-area">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <table class="table table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Membership</th>
                                <th>Account Balance</th>
                                <th>Earning Balance</th>
                            </tr>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.pk }}</td>
                                    <td>{{ user }}</td>
                                    <td><a href="{% url 'admin-single-users' pk=user.pk %}">{{ user.userprofile }}</a></td>
                                    <td>{{ user.userprofile.email }}</td>
                                    <td>{{ user.userprofile.account_type }}</td>
                                    <td>{{ user.userprofile.account_balance }}</td>
                                    <td>{{ user.userprofile.earning_balance }}</td>
                                </tr>

                            {% endfor %}

                        </table>
                    </div>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="disabled"> <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                        {% endif %}
                        {% for item in paginator.page_range %}
                            {% if page_obj.number == item %}
                                <li class="active"><a href="?page={{ item }}">{{ item }}</a></li>
                            {% else %}
                                <li class=""><a href="?page={{ item }}">{{ item }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li> <a href="?page={{ page_obj.next_page_number }}" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                        {% endif %}
                    </ul>
                {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}