{% extends 'base-home.html' %}
{% load static %}


{% block body %}
<!-- section content begin -->
        <div class="uk-section uk-padding-remove-vertical" style="margin-bottom: -40px;">
            <div class="uk-container uk-container-expand">
                <div class="uk-grid" data-uk-height-viewport="expand: true" style=" min-height:80vh">
                    <div class="uk-width-3-5@m uk-background-cover uk-background-center-right uk-visible@m uk-box-shadow-xlarge" style="background-image: url({% static 'img/in-signin-image.jpg' %});">
                    </div>
                    <div class="uk-width-expand@m uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-center">
                            <div class="uk-width-3-5@m">
                                <div class="in-padding-horizontal@s">

                                    <p class="uk-text-lead uk-margin-top uk-margin-remove-bottom">Create an account</p>
                                    <p class="uk-text-small uk-margin-remove-top uk-margin-medium-bottom">Have an account? <a href="{% url 'login' %}">Login here</a></p>
                                    <!-- login form begin -->
                                    {{ form1.errors }}
                                    {{ form2.errors }}
                                    <form class="uk-grid uk-form" method="post">
                                        <style>
                                            form p{
                                                margin-bottom: 20px !important;
                                                width: 100%;
                                            }
                                            form p input, form p select{
                                                width: 100%;
                                            }
                                        </style>
                                        {% csrf_token %}

                                        {{ form2.as_p }}
                                        {{ form1.as_p }}

                                        <div class="uk-margin-small uk-width-1-1">
                                            <button class="uk-button uk-width-1-1 uk-button-primary uk-border-rounded uk-float-left" type="submit" name="submit">Create Account</button>
                                        </div>
                                    </form>
                                    <!-- login form end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
{% endblock %}